{% extends 'base.html.twig' %}

{% block title %}Single Point | Register{% endblock %}

{% block body %}
    <section id="top" class="main">
    <h1>Register</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        <div class="wide">
            {{ form_row(form.agreeTerms) }}
        </div>

        <div class="wide">
            {{ form_row(form.save) }}
        </div>
    {{ form_end(form) }}
    </section>

    <section id="navigation">
        <span class="button"><a href="{{ path('dashboard') }}" title="Submissions"><</a></span>
    </section>
{% endblock %}
