{# Settings template #}
{% extends 'base.html.twig' %}

{% block title %}DigiPortfolio | Settings{% endblock %}

{% block body %}
    <section id="top" class="main">
        <h1>Settings</h1>
        <div class="button-list">
            <span class="button"><a href="{{ path('criterion') }}">Criteria</a></span>
            <span class="button"><a href="{{ path('file')}}">Files</a></span>
        </div>
    </section>

    <section id="subject" class="darkblue">
        <h2>Subject Management</h2>
        <div class="button-list">
            {# Add new item #}
            <span class="button"><a href="{{ path('settings-subject') }}" title="Add your new subject.">+</a></span>
            {% if subjects %}
                {% for subject in subjects %}
                    <span class="button"><a href="{{ path('settings-subject', {'id':subject.id }) }}">{{ subject.name }}</a></span>
                {% endfor %}
            {% else %}
                <p class='info'>No subjects found. Add some!</p>
            {% endif %}
        </div>
    </section>

    <section id="topic" class="lightgray">
        <h2>Topic Management</h2>
        <div class="button-list">
            {# Add new item #}
            <span class="button"><a href="{{ path('settings-topic') }}" title="Add your new topic.">+</a></span>
            {% if topics %}
                {% for topic in topics %}
                    <span class="button"><a href="{{ path('settings-topic', {'id':topic.id }) }}">{{ topic.name }}</a></span>
                {% endfor %}
            {% else %}
                <p class='info'>No topics found. Add some!</p>
            {% endif %}
        </div>
    </section>
        
    <section id="set" class="darkblue">
        <h2>Set Management</h2>
        <div class="button-list">
            {# Add new item #}
            <span class="button"><a href="{{ path('settings-set') }}" title="Add your new set.">+</a></span>
            {% if sets %}
                {% for set in sets %}
                    <span class="button"><a href="{{ path('settings-set', {'id':set.id }) }}">{{ set.name }}</a></span>
                {% endfor %}
            {% else %}
                <p class='info'>No set found. Add some!</p>
            {% endif %}
        </div>
    </section>

    {% include "settings/navigation.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
