{# Settings template #}
{% extends 'base.html.twig' %}

{% block title %}DigiPortfolio | Settings - Topic{% endblock %}

{% block body %}
    <section id="top" class="main">
        <div class="wide-envelop">
            {% if topic %}
                <h1>{{ topic.name }}</h1>
            {% else %}
                <h1>New topic</h1>
            {% endif %}

            {# Form to create or edit item. #}
            {{ form_start(formTopic) }}
                {{ form_errors(formTopic) }}
                {{ form_row(formTopic.name) }}
                <div class="wide">
                    {{ form_row(formTopic.save) }}
                </div>
            {{ form_end(formTopic) }}

            {% if topic %}
                <h2>Who is in?</h2>
                {% for person in topic.author %}
                    <p>by {{ person.name }}</p>
                {% endfor %}
            {% else %}
                {# TODO: Add form to add new participants. #}
                <p class='info'>No people found. Add some!</p>
            {% endif %}
        </div>
    </section>

    <section id="navigation">
        <span class="button"><a href="{{ path('settings') }}#topic" title="Settings">&lt;</a></span>
        <span class="button warning"><a href="{{ path('app_logout')}}">Log Out</a></span>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
